html{
  font-family: helvetica;
}

.Header{
    color: white;
    background-image: url("https://cazzam.github.io/broadway/resources/images/the-flatiron-building.png");
}

nav{
  font-size: 18px;
}

h1{
  font-size: 70px;
  font-weight: bold;
}
