html{
  font-family: helvetica;
  text-align: center;
}

.Header{
    background-image: url("https://cazzam.github.io/broadway/resources/images/the-flatiron-building.png");
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.Header nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Header nav ul li a {
  display: block;
  color: white;
  font-size: 18px;
  padding: 0px 0px 12px 0px;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

h4{
  background-image: url("https://cazzam.github.io/broadway/resources/images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

/* This makes the background colour grey (no need to set width or align text left)*/
.footer {
  background-color: dimgray;
}

/* This removes the bullet points from the menu items*/
.footer nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

/* This puts all list items next to each other. It seems if you use display: inline, it will do the same thing.*/
.footer ul li{
  float:left;
}

/* This makes all the items text colours white and 11 pixels and puts space between each item.*/
.footer ul li a{
  color: white;
  font-size: 11px;
  padding: 0px 2px 0px 2px;
}

/* This removed the underline from the copyright list item */
li.copyright{
  color: white;
  font-size: 11px;
  text-decoration: none;
}
