html{
  font-family: helvetica;
  text-align: center;
}

.Header{
    background-image: url("https://cazzam.github.io/broadway/resources/images/the-flatiron-building.png");
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.Header nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Header nav ul li a {
  display: block;
  color: white;
  font-size: 18px;
  padding: 0px 0px 12px 0px;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

h4{
  background-image: url("https://cazzam.github.io/broadway/resources/images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  width: 100%;
}

.footer span{
  font-size: 11px;
  color: white;
}

.footer nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: dimgray;
}

.footer ul li{
  float:left;
  display: block;
  color: white;
  font-size: 11px;
}
